@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la aplicación de Facturación</h1>
    
    <p>Ejemplo básico de aplicación con MVC</p>
</div>
